asn1crypto==0.22.0
astroid==1.6.5
babelfish==0.5.5
backports.functools-lru-cache==1.5
beautifulsoup4==4.6.0
certifi==2017.4.17
cffi==1.10.0
chardet==3.0.4
cheroot==5.7.0
CherryPy==11.0.0
click==6.7
colorama==0.4.0
configparser==3.5.0
cryptography==2.0
dogpile.cache==0.6.4
enum34==1.1.6
enzyme==0.4.1
flasgger==0.6.5
Flask==0.12.2
functools32==3.2.3.post2
futures==3.2.0
guessit==1.0.3
idna==2.5
ipaddress==1.0.18
isort==4.3.4
itsdangerous==0.24
Jinja2==2.9.6
jsonschema==2.6.0
lazy-object-proxy==1.3.1
lidarrmetadata==0.0.1
MarkupSafe==1.0
mccabe==0.6.1
mistune==0.7.4
musicbrainzngs==0.6
pbr==3.1.1
peewee==2.10.1
portend==2.1.2
psycopg2==2.7.1
pycparser==2.18
pylast==1.8.0
pylint==1.9.3
pyOpenSSL==17.2.0
pypiwin32==219
PySelenium==1.0.2
pysrt==1.1.1
python-dateutil==2.6.1
pytz==2017.2
PyYAML==3.12
qtfaststart==1.8
requests==2.18.1
requests-cache==0.4.13
selenium==3.4.3
singledispatch==3.4.0.3
six==1.11.0
stevedore==1.19.1
subliminal==1.1.1
tempora==1.8
urllib3==1.21.1
Werkzeug==0.12.2
wget==3.2
wrapt==1.10.11
